// Font Sizes
$font-size-xss: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 32px;
$font-size-4xl: 36px;
$font-size-5xl: 48px;
$font-size-6xl: 60px;
$font-size-7xl: 72px;
$font-size-8xl: 96px;
$font-size-9xl: 128px;

// Colors Palette

// gray
$gray-0: #f4f5f6;
$gray-50: #ebeeef;
$gray-100: #e3e6e8;
$gray-200: #d5dadc;
$gray-300: #c6cdd0;
$gray-400: #abb5ba;
$gray-500: #8f9ca3;
$gray-600: #73838c;
$gray-700: #5c6970;
$gray-800: #454f54;
$gray-900: #2e3538;

// teal
$teal-0: #eef6f7;
$teal-50: #cbe5e6;
$teal-100: #a9d4d6;
$teal-200: #86c2c5;
$teal-300: #64b1b5;
$teal-400: #4a979b;
$teal-500: #3a7679;
$teal-600: #2e5e60;
$teal-700: #264d4f;
$teal-800: #1e3c3e;
$teal-900: #162b2d;

// green
$green-0: #eafbf4;
$green-50: #ccf5e4;
$green-100: #a1edcd;
$green-200: #76e5b6;
$green-300: #4ddda0;
$green-400: #1cd084;
$green-500: #15b471;
$green-600: #11925c;
$green-700: #0d7248;
$green-800: #095234;
$green-900: #063723;

// yellow
$yellow-0: #fffef5;
$yellow-50: #fffce5;
$yellow-100: #fff9cc;
$yellow-200: #fff6b3;
$yellow-300: #fff18a;
$yellow-400: #ffe624;
$yellow-500: #fadd00;
$yellow-600: #dec60c;
$yellow-700: #b8a40a;
$yellow-800: #918108;
$yellow-900: #6a5f06;

// amber
$amber-0: #fdf7ed;
$amber-50: #fbeeda;
$amber-100: #f9e5c7;
$amber-200: #f6d4a2;
$amber-300: #f1bf74;
$amber-400: #ecaa46;
$amber-500: #e89519;
$amber-600: #c27d14;
$amber-700: #9d6510;
$amber-800: #7d500d;
$amber-900: #583809;

// orange
$orange-0: #fff2eb;
$orange-50: #fee5d7;
$orange-100: #fed5be;
$orange-200: #fdb48c;
$orange-300: #fc945a;
$orange-400: #fb7429;
$orange-500: #eb5704;
$orange-600: #c94a03;
$orange-700: #a13b02;
$orange-800: #792c02;
$orange-900: #501d01;

// red
$red-0: #fdf1f1;
$red-50: #fce4e4;
$red-100: #f6b7b7;
$red-200: #f08a8a;
$red-300: #ea5d5d;
$red-400: #e43030;
$red-500: #c71a1a;
$red-600: #991414;
$red-700: #831111;
$red-800: #6c0e0e;
$red-900: #480909;

.text-xxs {
  font-size: $font-size-xss !important;
}
.text-xs {
  font-size: $font-size-xs !important;
}
.text-sm {
  font-size: $font-size-sm !important;
}
.text-md {
  font-size: $font-size-md !important;
}
.text-lg {
  font-size: $font-size-lg !important;
}
.text-xl {
  font-size: $font-size-xl !important;
}
.text-2xl {
  font-size: $font-size-2xl !important;
}
.text-3xl {
  font-size: $font-size-3xl !important;
}
.text-4xl {
  font-size: $font-size-4xl !important;
}
.text-5xl {
  font-size: $font-size-5xl !important;
}
.text-6xl {
  font-size: $font-size-6xl !important;
}
.text-7xl {
  font-size: $font-size-7xl !important;
}
.text-8xl {
  font-size: $font-size-8xl !important;
}
.text-9xl {
  font-size: $font-size-9xl !important;
}

.text-gray-0 {
  color: $gray-0 !important;
}
.text-gray-50 {
  color: $gray-50 !important;
}
.text-gray-100 {
  color: $gray-100 !important;
}
.text-gray-200 {
  color: $gray-200 !important;
}
.text-gray-300 {
  color: $gray-300 !important;
}
.text-gray-400 {
  color: $gray-400 !important;
}
.text-gray-500 {
  color: $gray-500 !important;
}
.text-gray-600 {
  color: $gray-600 !important;
}
.text-gray-700 {
  color: $gray-700 !important;
}
.text-gray-800 {
  color: $gray-800 !important;
}
.text-gray-900 {
  color: $gray-900 !important;
}

.bg-gray-0 {
  background-color: $gray-0 !important;
}
.bg-gray-50 {
  background-color: $gray-50 !important;
}
.bg-gray-100 {
  background-color: $gray-100 !important;
}
.bg-gray-200 {
  background-color: $gray-200 !important;
}
.bg-gray-300 {
  background-color: $gray-300 !important;
}
.bg-gray-400 {
  background-color: $gray-400 !important;
}
.bg-gray-500 {
  background-color: $gray-500 !important;
}
.bg-gray-600 {
  background-color: $gray-600 !important;
}
.bg-gray-700 {
  background-color: $gray-700 !important;
}
.bg-gray-800 {
  background-color: $gray-800 !important;
}
.bg-gray-900 {
  background-color: $gray-900 !important;
}

.text-teal-0 {
  color: $teal-0 !important;
}
.text-teal-50 {
  color: $teal-50 !important;
}
.text-teal-100 {
  color: $teal-100 !important;
}
.text-teal-200 {
  color: $teal-200 !important;
}
.text-teal-300 {
  color: $teal-300 !important;
}
.text-teal-400 {
  color: $teal-400 !important;
}
.text-teal-500 {
  color: $teal-500 !important;
}
.text-teal-600 {
  color: $teal-600 !important;
}
.text-teal-700 {
  color: $teal-700 !important;
}
.text-teal-800 {
  color: $teal-800 !important;
}
.text-teal-900 {
  color: $teal-900 !important;
}

.bg-teal-0 {
  background-color: $teal-0 !important;
}
.bg-teal-50 {
  background-color: $teal-50 !important;
}
.bg-teal-100 {
  background-color: $teal-100 !important;
}
.bg-teal-200 {
  background-color: $teal-200 !important;
}
.bg-teal-300 {
  background-color: $teal-300 !important;
}
.bg-teal-400 {
  background-color: $teal-400 !important;
}
.bg-teal-500 {
  background-color: $teal-500 !important;
}
.bg-teal-600 {
  background-color: $teal-600 !important;
}
.bg-teal-700 {
  background-color: $teal-700 !important;
}
.bg-teal-800 {
  background-color: $teal-800 !important;
}
.bg-teal-900 {
  background-color: $teal-900 !important;
}

.text-green-0 {
  color: $green-0 !important;
}
.text-green-50 {
  color: $green-50 !important;
}
.text-green-100 {
  color: $green-100 !important;
}
.text-green-200 {
  color: $green-200 !important;
}
.text-green-300 {
  color: $green-300 !important;
}
.text-green-400 {
  color: $green-400 !important;
}
.text-green-500 {
  color: $green-500 !important;
}
.text-green-600 {
  color: $green-600 !important;
}
.text-green-700 {
  color: $green-700 !important;
}
.text-green-800 {
  color: $green-800 !important;
}
.text-green-900 {
  color: $green-900 !important;
}

.bg-green-0 {
  background-color: $green-0 !important;
}
.bg-green-50 {
  background-color: $green-50 !important;
}
.bg-green-100 {
  background-color: $green-100 !important;
}
.bg-green-200 {
  background-color: $green-200 !important;
}
.bg-green-300 {
  background-color: $green-300 !important;
}
.bg-green-400 {
  background-color: $green-400 !important;
}
.bg-green-500 {
  background-color: $green-500 !important;
}
.bg-green-600 {
  background-color: $green-600 !important;
}
.bg-green-700 {
  background-color: $green-700 !important;
}
.bg-green-800 {
  background-color: $green-800 !important;
}
.bg-green-900 {
  background-color: $green-900 !important;
}

.text-yellow-0 {
  color: $yellow-0 !important;
}
.text-yellow-50 {
  color: $yellow-50 !important;
}
.text-yellow-100 {
  color: $yellow-100 !important;
}
.text-yellow-200 {
  color: $yellow-200 !important;
}
.text-yellow-300 {
  color: $yellow-300 !important;
}
.text-yellow-400 {
  color: $yellow-400 !important;
}
.text-yellow-500 {
  color: $yellow-500 !important;
}
.text-yellow-600 {
  color: $yellow-600 !important;
}
.text-yellow-700 {
  color: $yellow-700 !important;
}
.text-yellow-800 {
  color: $yellow-800 !important;
}
.text-yellow-900 {
  color: $yellow-900 !important;
}

.bg-yellow-0 {
  background-color: $yellow-0 !important;
}
.bg-yellow-50 {
  background-color: $yellow-50 !important;
}
.bg-yellow-100 {
  background-color: $yellow-100 !important;
}
.bg-yellow-200 {
  background-color: $yellow-200 !important;
}
.bg-yellow-300 {
  background-color: $yellow-300 !important;
}
.bg-yellow-400 {
  background-color: $yellow-400 !important;
}
.bg-yellow-500 {
  background-color: $yellow-500 !important;
}
.bg-yellow-600 {
  background-color: $yellow-600 !important;
}
.bg-yellow-700 {
  background-color: $yellow-700 !important;
}
.bg-yellow-800 {
  background-color: $yellow-800 !important;
}
.bg-yellow-900 {
  background-color: $yellow-900 !important;
}

.text-amber-0 {
  color: $amber-0 !important;
}
.text-amber-50 {
  color: $amber-50 !important;
}
.text-amber-100 {
  color: $amber-100 !important;
}
.text-amber-200 {
  color: $amber-200 !important;
}
.text-amber-300 {
  color: $amber-300 !important;
}
.text-amber-400 {
  color: $amber-400 !important;
}
.text-amber-500 {
  color: $amber-500 !important;
}
.text-amber-600 {
  color: $amber-600 !important;
}
.text-amber-700 {
  color: $amber-700 !important;
}
.text-amber-800 {
  color: $amber-800 !important;
}
.text-amber-900 {
  color: $amber-900 !important;
}

.bg-amber-0 {
  background-color: $amber-0 !important;
}
.bg-amber-50 {
  background-color: $amber-50 !important;
}
.bg-amber-100 {
  background-color: $amber-100 !important;
}
.bg-amber-200 {
  background-color: $amber-200 !important;
}
.bg-amber-300 {
  background-color: $amber-300 !important;
}
.bg-amber-400 {
  background-color: $amber-400 !important;
}
.bg-amber-500 {
  background-color: $amber-500 !important;
}
.bg-amber-600 {
  background-color: $amber-600 !important;
}
.bg-amber-700 {
  background-color: $amber-700 !important;
}
.bg-amber-800 {
  background-color: $amber-800 !important;
}
.bg-amber-900 {
  background-color: $amber-900 !important;
}

.text-orange-0 {
  color: $orange-0 !important;
}
.text-orange-50 {
  color: $orange-50 !important;
}
.text-orange-100 {
  color: $orange-100 !important;
}
.text-orange-200 {
  color: $orange-200 !important;
}
.text-orange-300 {
  color: $orange-300 !important;
}
.text-orange-400 {
  color: $orange-400 !important;
}
.text-orange-500 {
  color: $orange-500 !important;
}
.text-orange-600 {
  color: $orange-600 !important;
}
.text-orange-700 {
  color: $orange-700 !important;
}
.text-orange-800 {
  color: $orange-800 !important;
}
.text-orange-900 {
  color: $orange-900 !important;
}

.bg-orange-0 {
  background-color: $orange-0 !important;
}
.bg-orange-50 {
  background-color: $orange-50 !important;
}
.bg-orange-100 {
  background-color: $orange-100 !important;
}
.bg-orange-200 {
  background-color: $orange-200 !important;
}
.bg-orange-300 {
  background-color: $orange-300 !important;
}
.bg-orange-400 {
  background-color: $orange-400 !important;
}
.bg-orange-500 {
  background-color: $orange-500 !important;
}
.bg-orange-600 {
  background-color: $orange-600 !important;
}
.bg-orange-700 {
  background-color: $orange-700 !important;
}
.bg-orange-800 {
  background-color: $orange-800 !important;
}
.bg-orange-900 {
  background-color: $orange-900 !important;
}
.text-red-0 {
  color: $red-0 !important;
}
.text-red-50 {
  color: $red-50 !important;
}
.text-red-100 {
  color: $red-100 !important;
}
.text-red-200 {
  color: $red-200 !important;
}
.text-red-300 {
  color: $red-300 !important;
}
.text-red-400 {
  color: $red-400 !important;
}
.text-red-500 {
  color: $red-500 !important;
}
.text-red-600 {
  color: $red-600 !important;
}
.text-red-700 {
  color: $red-700 !important;
}
.text-red-800 {
  color: $red-800 !important;
}
.text-red-900 {
  color: $red-900 !important;
}

.bg-red-0 {
  background-color: $red-0 !important;
}
.bg-red-50 {
  background-color: $red-50 !important;
}
.bg-red-100 {
  background-color: $red-100 !important;
}
.bg-red-200 {
  background-color: $red-200 !important;
}
.bg-red-300 {
  background-color: $red-300 !important;
}
.bg-red-400 {
  background-color: $red-400 !important;
}
.bg-red-500 {
  background-color: $red-500 !important;
}
.bg-red-600 {
  background-color: $red-600 !important;
}
.bg-red-700 {
  background-color: $red-700 !important;
}
.bg-red-800 {
  background-color: $red-800 !important;
}
.bg-red-900 {
  background-color: $red-900 !important;
}
